.DS_Store
node_modules
npm-debug.log
bower_components

*.bbprojectsettings

arsenic-mjy.bbprojectd/Scratchpad.txt

arsenic-mjy.bbprojectd/Unix Worksheet.worksheet

*.bbprojectdata

dist/assets/css/app.css

dist/assets/js/app.js

dist/food-rice.html

dist/index.html

dist/styleguide.html
