//  helper classes
// --------------------------------

.uc {
    text-transform: uppercase;
}

.no-bottom {
    margin-bottom: 0;
}

// type
// -------------

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.5rem;
}

h2 {
    @include breakpoint(medium) {
        margin-right: -16.66667%;
        margin-left: -16.66667%;
        padding-right: .9375rem;
        padding-left: .9375rem;
    }
}

h1 {
    color: $black;
}

h2 {
    color: #b82e00;
}

/*   small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px, */

@include breakpoint(xxlarge) {
    html {
        font-size: 137.5%;
    }
}

@include breakpoint(xlarge only) {
    html {
        font-size: 131.3%;
    }
}

@include breakpoint(large only) {
    html {
        font-size: 118.8%;
    }
}


[role='menuitem'] a {
    color: #fff;
    &:hover {
        text-decoration: none;
    }
}

a {
    font-weight: bold;

    word-wrap: break-word;
    &:hover {
        text-decoration: underline;
    }
}

// header
//--------------

header {
    padding: 0 1rem;

    background-color: #0081a8;
}

// logotype

.program-name {
    font-family: $header-font-family;
    font-size: rem-calc(34);
    font-weight: $global-weight-bold;
    line-height: 1.1;

    margin-top: 2rem;

    color: $white;
}

.program-title {
    font-family: $header-font-family;
    font-size: rem-calc(21);
    font-weight: $global-weight-bold;
    line-height: 1.25;

    margin-top: 0;
    margin-bottom: 0;

    color: $white;
    /* color: transparentize($white, .2); */
}

.program-sponsor {
    font-family: $header-font-family;
    font-size: rem-calc(14);
    line-height: 1.25;

    margin-top: 0;
    margin-bottom: 1.5em;

    color: #123f57;
}

// nav

.nav-container {
    padding: 0 1.88235rem;

    background-color: #004f68;
    &.row {
        max-width: none;
    }
}

nav {
    font-family: $header-font-family;
    font-weight: $global-weight-bold;

    @include breakpoint(xlarge) {
        text-align: center;
    }
}

.menu ul {
    opacity: .95;
    // background-color: #123f57;
    background-color: #004f68;
}


.menu > li {
    font-size: rem-calc(16);

    margin-bottom: 0;

    vertical-align: top;

    @include breakpoint(xlarge) {
        font-size: rem-calc(14);

        display: inline-block !important;

        text-align: left;
    }
    .menu a {
        color: #ffb833;
        &:hover {
            color: #fff;
        }
    }
}

li {
    margin-bottom: .5rem;
    > ul {
        padding-top: .5rem;

        list-style-type: disc;
    }
}


// mjy 
// via https://zurb.com/expo/lessons/how-to-re-create-top-bar-with-foundation-6 

.title-bar {
    font-family: $header-font-family;
    font-weight: $global-weight-bold;

    margin: 0 -2rem;
    padding: .9rem;

    background: #005670;
}

.footer {
    font-family: $header-font-family;
    font-size: $pagination-font-size;
    font-weight: $global-weight-normal;

    margin-top: 5em;
    padding-top: 2em;

    color: transparentize(#fff, .2);
    /* background-color: #4a2b3e; */
    background-color: darken(#004f68, 6%);
    a {
        font-weight: 700;

        color: #fff;
    }
}

.footer a.producedBy {
    font-size: 80%;
}

.nih-logo {
    max-width: 320px;
    margin: 1em 0 2em 0;

    opacity: .8;
}


// intro
// ----------

.intro {
    margin: 0;
    padding: 0 1rem 0 1rem;
    /*  background: $light-gray; */
    h1 {
        line-height: 1.175;
        /*  text-shadow: rgba(0,0,0,.5) 1px 1px 1px; */
    }
    @include breakpoint(large) {
        padding-top: 1rem;
    }
}

.lead {
    font-weight: 700;

    color: #717171;
}

/* .main-content-body > p:first-of-type:first-letter { 
    float: left; 
    color: #903; 
    font-size: 5.2rem; 
    line-height: 60px; 
    padding-top: .15em; 
    padding-right: 8px; 
    padding-left: 3px; 
    // margin-left: -1.5rem;
 } */


blockquote {
    font-size: 105%;
    font-style: italic;
    // border-top: .3em solid lighten($primary-color, 25%);

    border-top: .3em solid #dfac4e;
}

@include breakpoint(large) {
    blockquote {
        font-size: 178.125%;

        margin: 2.5rem -16.66667% 2rem ;
    }
}

@include breakpoint(medium only) {
    blockquote {
        font-size: 140%;

        margin: 2.5rem -6% 2rem ;
        padding: .9375rem 0;
    }
}


cite {
    font-style: normal;

    margin-top: 1em;

    text-align: right;
}

.callout {
    opacity: .9;
    // color: #2f2f2f;
    color: #fff;
    // background-color: #ece5d7;
    // background-color: #d6c67f;
    background-color: #004f68;

    @include breakpoint(medium) {
        margin-right: -50vw;
        margin-left: -50vw;
        padding-right: 50vw;
        padding-left: 50vw;
    }
    h2 {
        color: $white;
    }
    h3 {
        color: #ffb833;
    }
    h4 {
        /* color: #98b861; */
        color: #a5eb7f;
    }
    a {
        color: #80e1ff;
    }
}

.callout-2 {
    font-size: 85%;

    background-color: #98b861;

    @include breakpoint(large) {
        float: right;

        width: 50%;
        margin-top: 0;
        margin-right: -30%;
        margin-bottom: 2em;
        margin-left: 10%;
        padding: 2% 5%;

        color: $black;
    }
    @include breakpoint(small) {
        margin: $callout-margin;
        padding: $callout-padding;
        padding-bottom: 1em;
    }
    h4 {
        color: #fff;
    }
    > h3, > h4 {
        margin-top: .5rem;
    }
    hr {
        border-color: $white;
    }
}

// images
//---------------

figure {
    display: table;

    margin: 2em 0 1em;
}

figcaption {
    font-size: 90%;
    font-style: italic;

    display: table-caption;

    padding: 1em 2em;

    caption-side: bottom;

    text-align: left;
    /* border-bottom: 1px solid #b82e00; */
}

.left {
    float: left;

    margin-right: .88235rem;
    margin-bottom: .5rem;
}

.right {
    float: right;

    margin-bottom: .5rem;
    margin-left: .88235rem;
}

.end {
    margin-right: 0;
}

@include breakpoint(medium) {
    .wide {
        margin-right: -15%;
        margin-left: -15%;
    }
}

// main content
//---------------

.main-content {
    overflow: hidden; // prevent horizontal scroll bar

    margin-bottom: 3rem;
    padding: 0 1rem;
}
.to-top {
    text-align: center;
}
