//  helper classes
// --------------------------------

.uc {
    text-transform: uppercase;
}

.no-bottom {
    bottom-margin: 0;
}

// type
// -------------

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.5rem;
}

// header
//--------------

// logotype

$as-header-family: FF Tisa Sans Pro Medium;

.program-name {
    font-family: $as-header-family;
    font-size: rem-calc(21);
    line-height: 1.4;
    margin-top: 2rem;
    margin-bottom: 0;
    color: #8a8a8a;
}

.program-title {
    font-family: $as-header-family;
    font-size: rem-calc(28);
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0;
    color: #444;
}

// nav

nav {
    padding: 1rem 0;
    font-family: $as-header-family;
}

.menu > li {
    vertical-align: top;
}

.primary-menu-items > li {
    border-left: 1px solid #ddd;
}

// mjy 
// via https://zurb.com/expo/lessons/how-to-re-create-top-bar-with-foundation-6 

.title-bar {
  background: $black;
  padding: 0.9rem;
  font-family: $as-header-family;
}

.footer {
	font-family: $as-header-family;
	font-weight: $global-weight-normal;
	font-size: $pagination-font-size;
}

// end mjy

// intro
// ----------

.intro, .footer {
    background-color: #555;
    padding: 1rem 0 2rem 0;
    margin: 1rem 0;
    h1 {
        color: whitesmoke;
        font-family: $as-header-family;
    }
}

.lead {
    color: #ddd;
    font-family: 'FF Tisa OT Italic';
}

// main content
//---------------

.main-content {
    margin-bottom: 3rem;
}
