<header id="header">
        <div class="row">
            <div class="large-8 large-centered  columns">
                <div class="program-name">Dartmouth Toxic Metals Superfund Research Program</div>
                <div class="subheader program-title">Arsenic in Food and Water</div>
   <!--          </div>
      </div>
             <div class="row"> -->
                    <nav id="nav">
                        <a href="#" class="nav-opener"><span></span></a>
                        <div class="nav-slide">
                            <ul class="vertical medium-horizontal menu expanded primary-menu-items">
                                <li><a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/index.html" class="home">Home</a></li>
                                <li>
                                    <a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/health/index.html"><span>Arsenic &amp; Your Health</span></a>
                                    <ul class="nested vertical menu">
                                        <li class="active10"><a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/health/index.html">Overview</a></li>
                                        <li class="active11"><a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/health/children.html">Children</a></li>
                                        <li class="active9"><a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/health/gluten-free.html">Gluten-Free</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/food/index.html"><span>Arsenic &amp; Food</span></a>
                                    <ul class="nested vertical menu">
                                        <li class="active14"><a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/food/index.html">Overview</a></li>
                                        <li class="active15"><a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/food/infants.html">Infants</a></li>
                                        <li class="active19"><a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/food/rice.html">Rice</a></li>
                                        <li class="active13"><a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/food/seafood.html">Seafood</a></li>
                                        <li class="active16"><a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/food/meat.html">Meat &amp; Eggs (?)</a></li>
                                        <li class="active17"><a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/food/beerandwine.html">Beer &amp; Wine</a></li>
                                        <li class="active18"><a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/food/fruitsandvegetables.html">Fruits &amp; Veggies</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/water/index.html"><span>Arsenic &amp; Water</span></a>
                                    <ul class="nested vertical menu">
                                        <li class="active12"><a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/water/index.html">Overview</a></li> 
                                        <li class="active20"><a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/water/testing.html">Testing</a></li> 
                                        <li class="active21"><a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/water/treatment.html">Treatment</a></li> 
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/resources/index.html"><span>Resources</span></a>
                                    <ul class="nested vertical menu">
                                        <li class="active7"><a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/resources/index.html">Overview</a></li>
                                        <li class="active6"><a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/resources/faqs.html">FAQs</a></li>
                                        <li class="active8"><a href="http://yacavone.com/clients/toxicmetalsarsenic/firstdraft/resources/media.html">Media</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                </div>
            </header>